
[Desktop Entry]
Name=Mailnag Configuration
Name[de]=Mailnag Configuration
Comment=A notifier for new emails
Comment[de]=Ein Benachrichtiger für neue Emails
Exec=/usr/share/mailnag/mailnag_config
Icon=/usr/share/mailnag/mailnag.svg
Terminal=false
Type=Application
Categories=Network;
StartupNotify=false

Name[de_DE]=mailnag_config.desktop
