
[Desktop Entry]
Name=Popper Configurator
Name[de]=Popper Configurator
Name[de_CH]=Popper Configurator
Name[de_AT]=Popper Configurator
Comment=A notifier for new emails
Comment[de]=Ein Benachrichtiger für neue Emails
Comment[de_CH]=Ein Benachrichtiger für neue Emails
Comment[de_AT]=Ein Benachrichtiger für neue Emails
Exec=/usr/share/popper/popper_config.sh
Icon=/usr/share/popper/popper_icon.png
Terminal=false
Type=Application
Categories=Network;
StartupNotify=false

