Source: mailnag
Section: mail
Priority: optional
Maintainer: Patrick Ulbrich <zulu99@gmx.net>
Build-Depends: debhelper (>= 9), gettext, python3 (>= 3.5)
X-Python-Version: >= 3.5
Standards-Version: 3.9.5
Homepage: https://github.com/pulb/mailnag
Vcs-Git: git://github.com/pulb/mailnag.git
Vcs-Browser: https://github.com/pulb/mailnag.git

Package: mailnag
Architecture: all
Depends:
 gir1.2-glib-2.0 (>= 1.32.0),
 gir1.2-gst-plugins-base-1.0 (>= 1.2.0),
 gir1.2-gtk-3.0 (>= 3.6.4),
 gir1.2-notify-0.7 (>= 0.7.6),
 python3-dbus (>= 1.2.16),
 python3-gi (>= 3.36.0),
 python3-xdg,
 ${misc:Depends},
 ${python:Depends}
Recommends:
 gir1.2-secret-1 (>= 0.20.2),
 network-manager (>= 0.9.4)
Description: extensible mail notification daemon
 Mailnag is a daemon program that checks POP3 and IMAP servers for new mail.
 On mail arrival it performs various actions provided by plugins. Mailnag
 comes with a set of desktop-independent default plugins for visual/sound
 notifications, script execution etc. and can be extended with additional
 plugins easily.
