Source: mailnag
Section: gnome
Priority: optional
Maintainer: Patrick Ulbrich <zulu99@gmx.net>
Build-Depends: debhelper (>= 8.0.0),
               gettext,
               gir1.2-glib-2.0 (>= 1.32.0),
               gir1.2-gstreamer-0.10 (>= 0.10.36),
               gir1.2-notify-0.7 (>= 0.7.5),
               python (>= 2.7.3),
               python-gnomekeyring (>= 2.32.0),
               python-gobject (>= 3.2.0),
               python-httplib2 (>= 0.7.2),
               python-xdg
X-Python-Version: >= 2.7
Standards-Version: 3.9.3
Homepage: https://github.com/pulb/mailnag
Vcs-Git: git://github.com/pulb/mailnag.git
Vcs-Browser: https://github.com/pulb/mailnag.git

Package: mailnag
Architecture: any
Depends: gir1.2-glib-2.0 (>= 1.32.0),
         gir1.2-gstreamer-0.10 (>= 0.10.36),
         gir1.2-notify-0.7 (>= 0.7.5),
         gstreamer0.10-plugins-base,
         python (>= 2.7.3),
         python-gnomekeyring (>= 2.32.0),
         python-gobject (>= 3.2.0),
         python-httplib2 (>= 0.7.2),
         python-xdg,
         ${misc:Depends},
         ${python:Depends}
Description: Mail notification daemon for GNOME 3
 Mailnag checks POP3 and IMAP servers for new mail. When it finds new
 messsages, it creates a GNOME 3 notification that mentions sender and subject.
