
[Desktop Entry]
Name=Mailnag Configuration
Name[de]=Mailnag-Konfiguration
Comment=An extensible mail notification daemon
Comment[de]=Ein erweiterbarer Mail-Benachrichtigungs-Dämon
Keywords=mail;notify;notification;config;settings;preferences;
Exec=/usr/bin/mailnag-config
Icon=mailnag
Terminal=false
Type=Application
Categories=Network;
StartupNotify=false
X-AppStream-Ignore=true
